.img-aside {
    right: 0;
}
.div-fondo-color {
    display: flex;
    flex-direction: column;
}    
.img-meme{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}
.inputs-fondo {
    background-color: rgb(164, 236, 197);
    display: flex;
    justify-content: space-between;
}
.filtros {
    display: flex;
    flex-direction: column;
}
.btn {
    border: white solid 1px;
    padding: 1%;
}
