.txt-aside {
  right: 0;
}

.esconderTexto {
  display: none
}

.fondoTransparenteTop {
  position: absolute;
  top: 0;
  background-color: transparent;
}

.fondoTransparenteBottom {
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

.trazo-claro {
  -webkit-text-stroke: 1px #FFF;
}

.trazo-oscuro {
  -webkit-text-stroke: 1px #000;
}

.sin-trazo {
  -webkit-text-stroke: none;
}

.size-align-font-txt {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.color-fondo {
  flex-direction: column;
}

.margins-sin-texto {
  margin-top: 2%;
}

textarea {
  color: var(--color);
  font-size: 15px;
  border-radius: 3px;
  margin-bottom: 2.2px;
  padding: 5px;

}

.btns-contorno {
  display: flex;
  flex-direction: row;
}

.fas {
  color: var(--color);
}

.contenedor-color-fondo {
  display: flex;
  flex-direction: row;
}

.de-color-fondo {

  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 700px) {
  .contenedor-color-fondo {
    justify-content: space-between
  }

  .de-color-fondo {
    width: 100%;
  }

  .color-blend {
    margin-top: 5px;
  }

  .align-btns {
    width: 100%;
  }

  .font-size {
    width: 100%;
    margin-right: 10px;
  }

  .inputSmall {

    margin: 3px;
  }
}