.img-aside {
    right: 0;
}
.div-fondo-color {
    display: flex;
    flex-wrap: wrap;
}    
.img-meme{
    height: 550px;
    width: 550px;
}
.inputs-fondo {
    background-color: rgb(164, 236, 197);
    display: flex;
    justify-content: space-between;
}
.filtros {
    display: flex;
    flex-direction: column;
}
.btn {
    border: white solid 1px;
    padding: 1%;
}