.txt-aside {
  right: 0;
  padding: 15px;
}
.esconderTexto{
  display:none
}

.fondoTransparenteTop{
position:absolute;
top:0;
background-color: transparent;
}

.fondoTransparenteBottom{
  position:absolute;
  bottom:0;
  background-color: transparent;
}
.trazo-claro{
  -webkit-text-stroke: 1px #FFF;
}
.trazo-oscuro{
  -webkit-text-stroke: 1px #000;
}
.sin-trazo{
  -webkit-text-stroke: none;
}
.size-align-font-txt{
  display:flex
}