/* exportado*/
.my-main {
    /*flex grow es porque depende del tamaño de la imagen que se le ponga es cuano debe crecer?
    mi DUDA es por el numero 1 que le asigne*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
}

.editor-content {
    height: 600px;
    /* width: 600px; */
    /* border: 1px solid rgb(0,0,0); */
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.top-bottom-text {
    height: 15%;
    width: 100%;
    font-family:'Comic Sans MS';
    font-size: 40px;
    color: rgb(0, 0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    padding-left: 10px;
    padding-right: 10px;
    position:static;
}

.img-meme {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
}