@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark {
    --color-header: rgb(25, 30, 43);
    --color-aside: rgb(24, 29, 42);
    --color-background: rgb(48, 52, 63);
    --color: rgb(255, 255, 255);
}

body.light {
    --color-aside: rgb(250, 250, 250);
    --color-header: rgb(224, 224, 224);
    --color-background: rgb(238, 238, 238);
    --color: rgb(20, 20, 20);
}

body {
    background-color: var(--color-background);
    font-family: 'Open Sans', sans-serif;
}

.aside {
    overflow: auto;
    background-color: var(--color-aside);
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    padding: 1%;
    padding-top: 3%;
    color: var(--color);
}

.panel-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1%
}

.panel-aside {
    font-size: 13px;
}

.panels {
    margin-bottom: 7%;
}


/*LA CLASE panel-aside LA USE PERO NO LA ESTILER PORQUE CREO QUE SLO LA USARE PARA HACER EL LIGHT/DARK APPEARANCE*/

.input {
    color: var(--color);
    background-color: var(--color-background);
    width: 209px;
    height: 34px;
    border: none;
    border-radius: 2px;
    margin-bottom: 0.2px;
    border-radius: 4px;
    margin-bottom: 0.2px;
    font-size: 16px;
    padding: 5px;
}


/*input[type="color"] {*/

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 33px;
    height: 24px;
    background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.fondo-color {
    display: flex;
    justify-content: space-between;
}

.input-fondo-color {
    width: 100%;
}

.color-blend {
    border-radius: var(--color-background);
    background-color: var(--color-background);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    border-radius: 4px;
}

#backgroundColorImg {
    margin: 5%;
}

#imgBackgroundFilter {
    color: var(--color);
    width: 100%;
    height: 40px;
    background-color: var(--color-background);
    border-radius: var(--color-background);
    border: none;
    transition: 0.2s;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.div-title {
    margin-bottom: 1%;
}

.close-aside {
    display: none;
}

.inputSmall {
    background-color: var(--color-background);
    color: var(--color);
    width: 112px;
    height: 34px;
    border: none;
    border-radius: 2px;
    margin-bottom: 0.2px;
    margin-right: 5px;
}

.align-btns {
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    align-items: center;
    border: none;
    padding-top: 2px;
    height: 34px;
}

.inputXSmall {
    background-color: var(--color-background);
    width: 30px;
    height: 34px;
    border: none;
    border-radius: 2px;
    margin-right: 4px;
    align-items: center;
    padding-top: 10px;
}

section {
    display: unset;
}

.color-fondo {
    display: flex;
    justify-content: space-between;
}

.btns-contorno {
    background-color: var(--color-background);
    color: var(--color);
    height: 34px;
    border: none;
    border-radius: 2px;
    margin-bottom: 0.2px;
    margin-right: 5px;
    padding: 3%;
}

.panelColor {
    display: flex;
    flex-direction: column;
}

.color-fondo {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 700px) {
    .close-aside {
        display: block;
    }
    .aside {
        width: 100%;
        display: none;
    }
    .panel-title {
        font-size: 15px;
    }
    .panel-aside {
        font-size: 10px;
        display: unset;
    }
    .panel-aside {
        display: none;
        font-size: 10px;
    }
    section {
        display: none
    }
    .input {
        color: var(--color);
        background-color: var(--color-background);
        width: 100%;
        height: 34px;
        border: none;
        border-radius: 2px;
        margin-bottom: 0.2px;
        border-radius: 4px;
        margin-bottom: 0.2px;
        font-size: 16px;
        padding: 5px;
    }
    .inputSmall {
        background-color: var(--color-background);
        color: var(--color);
        width: 180px;
        height: 34px;
        border: none;
        border-radius: 2px;
        margin-bottom: 0.2px;
        padding: 5%;
        display: flex;
        justify-content: flex-start;
    }
    .fondo-color {
        display: flex;
        flex-grow: 2;
    }
    .color-blend {
        width: 170px;
    }
    .inputXSmall {
        width: 60px;
        height: 34px;
        border: none;
        border-radius: 2px;
        margin-right: 4px;
        align-items: center;
        padding-top: 10px;
    }
}


}