@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark {
    --color-header: rgb(25, 30, 43);
    --color-aside: rgb(24, 29, 42);
    --color-background: rgb(48, 52, 63);
    --color: rgb(255, 255, 255);
    --color-background-hover: rgb(78, 85, 101);
}

body.light {
    --color-aside: rgb(250, 250, 250);
    --color-header: rgb(224, 224, 224);
    --color-background: rgb(238, 238, 238);
    --color: rgb(20, 20, 20);
    --color-background-hover: rgb(189, 189, 189);
}

body {
    background-color: var(--color-background);
    font-family: 'Open Sans', sans-serif;
}

.aside {
    background-color: var(--color-aside);
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    padding: 1%;
    padding-top: 3%;
    overflow: auto;
    color: var(--color);
}

.panel-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1%
}

.panel-aside {
    font-size: 13px;
}

.panels {
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
}

.input {
    background-color: var(--color-background);
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 2px;
    margin-bottom: 0.2px;
    padding: 3px;
    
}

.input:hover {
    background-color: var(--color-background-hover);
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-right: 9px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.fondo-color {
    display: flex;
    justify-content: space-between;
}

.input-fondo-color {
    width: 100%;
}

.color-blend {
    border-radius: var(--color-background);
    border-radius: 3px;
    background-color: var(--color-background);
    color: var(--color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 40px;
    width: 100%;
    margin-right: 3%;
}

#backgroundColorImg {
    margin: 5%;
}
.ninguno {
    width: 100%;
}
#imgBackgroundFilter {
    color: var(--color);
    width: 100%;
    height: 40px;
    background-color: var(--color-background);
    border-radius: var(--color-background);
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    padding: 5px 10px;
    margin-bottom: 5px;

}

.div-title {
    margin-bottom: 3%;
}

.close-aside {
    display: none;
}

.inputSmall {
    background-color: var(--color-background);
    color: var(--color);
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 2px;
    margin: 3px;
}
.fuentes-size {
    width: 100%;
    padding-left: 7px;
}

.inputSmall:hover {
    background-color: var(--color-background-hover);
}

.align-btns {
    width: 50%;
    display: flex;
    justify-content: space-between;
 
}

.inputXSmall {
    background-color: var(--color-background);
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 2px;
    margin-right: 3px;
}

.inputXSmall:hover {
    background-color: var(--color-background-hover);
}

section {
    display: unset;
}

.color-fondo {
    display: flex;
    justify-content: space-between;
}
select {
    color: var(--color);
}
input {
    color: var(--color);
}

@media (min-width: 320px) and (max-width: 700px) {
    section {
        display: none;
        padding: 20px;
    }

    input[type="color"] {
        width: 20px;
        height: 20px;
    }

    .close-aside {
        font-size: 16px;
        display: block;
        float: right;
        color: var(--color);
        background-color: var(--color-aside);
        border: none;
    }

    .aside {
        width: 100%;
        display: none;
    
    }

    .panel-aside {
        display: unset;
        padding: 15px;
    }

    .panel-aside {
        display: none;
    }

    .input {
        width: 100%;
    }
}